body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

#Hero-Section {

  background-color: darkslategray;
  /* background-image: url("../img/foto.jpg");   


  background-repeat: no-repeat;
  background-size: cover;
  background-position: left; */
}

/* #header .imagen {
  margin: 15px auto;
  display: block;
  width: 120px;
  border: 8px solid #2c2f3f
}  */

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color:darkslategray;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
